<%= simple_form_for([@product, @product.comments.build]) do |f|%>

  <div class="field">
      <%= md_simple_editor  do %>
          <%= f.input :body  %>
      <% end %>
  </div>
<br>
<br>
  <%= f.submit t("submit_comment"), class: "btn btn-primary" %>

<% end %>

<%= content_for :handwrite_javascript do%>
  <script>
    autosize($("#comment_body"));
  </script>
<% end %>
