<div class="admin_products_revisepage">
  <h2 class="text-center"> 新增经验 </h2>
  <div class="short-line"></div>

  <%= simple_form_for [:admin, @product] do |f| %>

    <div class="group">
      <%= f.input :title, :class => "form-control", :required => true, :autofocus => true %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="group">
      <%= f.input :description, :class => "form-control", :required => true %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="group">
      <%= f.input :body, :class => "form-control", :required => true %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="group">
      <%= f.input :category, :collection => ["rails","heroku", "frontend", "backend","others"], :selected => "rails" %>
    </div>

    <div class="group">
      <%= f.input :quantity, :class => "form-control", :required => true %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="group">
      <%= f.input :price, :class => "form-control", :required => true %>
      <div class="help-block with-errors"></div>
    </div>

    <div class="group">
      <%= f.input :is_hidden %>
    </div>

    <div class="group">
      <%= f.label :avatar %> <br>
      <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
    </div>

    <br>

    <%= f.submit "Submit", class: "btn btn-primary" %>

  <% end %>

</div>

<script>
  $("form").validator();
</script>
