  <div class="col-sm-4 col-xs-6 box">
    <%= link_to product_path(product) do %>
      <% if product.photos.present? %>
        <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    <% end %>
    <%= product.title %>  <hr> 类别: <%= product.category.try(:name) %> | ￥ <%= product.price %> |
    <%= link_to like_product_path(product), method: :put do %>
      <div class="pic-thumbs-up pull-right" style="margin-right: 10px;">
        <i class="fa fa-thumbs-up", style="color: #3468A5;"></i>
        <%= product.get_upvotes.size %>
      </div>
    <% end %>
    <br>
    <br>
  </div>
