<div class="container">
  <div class="pull-right" style="margin-top:20px;">
    <% if current_user && current_user.has_collected?(@product) %>
      <%= link_to("Discollect", discollect_product_path(@product), method: :post, class: "btn btn-info")  %>
    <% else %>
      <%= link_to("Collect", collect_product_path(@product), method: :post, class: "btn btn-info")  %>
    <% end %>
  </div>

  <div class="text-center" >
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>




      <div> Quantity: <%= @product.quantity %> </div><br>
      <div class="product-price"> Price: ￥ <%= @product.price %> </div>


    <div class="pull-right" >
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("Add to cart", add_to_cart_product_path(@product),method: :post, :class => "btn btn-danger") %>
      <% else %>
        <div class="btn btn-log btn-danger">
          Sorry, the products are all sold out!
        </div>
      <% end %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h3 class="comments_title">
      <%= @product.comments.count %> Comments
    </h3>
    <hr>
    <div id="comments">
      <%= render @product.comments%>

      <%= render "comments/form"%>
    </div>
  </div>
</div>
