<!DOCTYPE html>
<html>
<head>
  <title class="fa fa-bug">Debugsharing backend</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <%= render "common/navbar" %>
  </div>
  <div class="container-fluid">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
        <li> <%= link_to("后台经验", admin_products_path) %> </li>
        <li> <%= link_to("后台订单", admin_orders_path) %> </li>
      </ul>
    </div>
    <div class="col-md-10">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <%= yield :handwrite_javascript %>

</body>
</html>
