<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render_page_title_tag %>
    <%= render_page_description_meta_tag %>
    <%= render_page_image_link_tag %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//load.sumome.com/" data-sumo-site-id="c045c11ccc193eae3d2e9e330bd5b646b7c8a00d8c3f004120c4a90ce1b4825f" async="async"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <div class="flash-gap">
          <%= render "common/flashes" %>
        </div>
        <%= yield %>
      </div>
      <div class="row">
        <%= render "common/footer" %>
      </div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <%= yield :handwrite_javascript %>

  </body>
</html>
