<!DOCTYPE html>
<html>
  <head>
    <title>Debugsharing</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <%= render "common/navbar" %>
    </div>
    <div class="container-fluid">
      <%= render "common/flashes" %>
      <%= yield %>
    </div>
    <div class="row">
      <%= render "common/footer" %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <%= yield :handwrite_javascript %>

  </body>
</html>
